.logo {
	height: 3em;
	padding: 1.5em;
	position: relative;
	left: -40px;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
	border: 1px solid;
	width: 100px;
	height: 20%;
	text-align: center;
	background-color: green;
	margin: 1em;
	cursor: pointer;
}

.read-the-docs {
	color: #888;
}

header {
	background-color: #888;
	width: 100vw;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: 1250px;
	padding: 0 1.3em;
}

.container {
	margin: 0 auto;
	width: 1650px;
	height: 80vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

img {
	height: auto;
}
