@font-face {
	font-family: Pokemon-hollow;
	src: url("../assets/pokemon/Pokemon-Hollow.ttf");
}

@font-face {
	font-family: Pokemon-solid;
	src: url("../assets/pokemon/Pokemon-Solid.ttf");
}

.logo {
	height: 3em;
	padding: 1.5em;
	position: relative;
	left: -40px;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

main {
	background: url("../assets/pokemon-landscape.png");
	height: 100vh;
}

.card {
	padding: 2em;
	border: 5px solid var(--pokemon-border-yellow);
	border-radius: 15px;
	width: 100px;
	height: 20%;
	text-align: center;
	background-color: var(--pokemon-blue);
	margin: 1em;
	cursor: pointer;
}

.read-the-docs {
	color: #888;
}

header {
	background-color: var(--pokemon-blue);
	width: 100vw;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: 1250px;
	padding: 0 1.3em;
}

nav > h1 {
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: black;
}

nav > div > h2 {
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
}

.container {
	margin: 0 auto;
	width: 1250px;
	height: 80vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

img {
	height: auto;
}
